
body {
    background-color: rgb(193, 235, 249);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;

}
h1 {
    color: darkblue;
    background-color: rgb(239, 200, 207);
}
h2 {
    color: brown;
}
